<form class="form">
    <h1>CRIANDO NOVO TÉCNICO</h1>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Eduardo Conceição">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. 000.000.000-00">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Ex. (00) 90000-0000">
      </mat-form-field>

      <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary">CRIAR</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
     </div> 
    
  </form>
  